 * {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  /* width: 100%; */
  height: 100vh;
  background-color: white;
}

.hero{
  width: 100%;
  height: 100vh;
  position: relative;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.750);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.bike-logo{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

nav{

  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
 

}
nav ul{

list-style: none;

}
nav ul li{
  display: inline-block;
margin-left: 9rem;
width: 9rem;
text-align: center;
}

nav ul li a{
  color: orangered;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 900;
}

nav ul li a span{
  margin-left: 0.3rem;
}
.menu{

color: orangered;
 display: none;
 cursor: pointer;

}

ul li:hover{
  background-color: white;
  border-radius: 25px;
}

ul li a:hover{
  color: black;
}

.bg-video{
  position: absolute;
  right: 0;
  bottom: 0;
display: block;
 width: 100%;
 height: 100%;
 object-fit: cover;
  z-index: -1;
}

.logo-tittle h1 {
  text-align: center;
  margin-top: 10rem;
  color: white;
  font-weight: 900;
  transition: 0s;
}

.logo-tittle h1:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.explore-btn {
  margin-top: 3rem;
  color: white;
  font-weight: 800;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: 0s;
}

.explore-btn:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

/* home page responsive */
 @media screen and (max-width:1261px){
  nav ul li{
    display: inline-block;
  margin-left: 7rem;
  width: 9rem;
  text-align: center;
  }

 }

 @media screen and (max-width:1133px){
  nav ul li{
    display: inline-block;
  margin-left: 5rem;
  width: 9rem;
  text-align: center;
  }

 }

 @media screen and (max-width:1005px){
  nav ul li{
    display: inline-block;
  margin-left: 2rem;
  width: 9rem;
  text-align: center;
  }

 }

 @media screen and (max-width:813px){
  nav ul li{
    display: inline-block;
  margin-left: 0rem;
  width: 9rem;
  text-align: center;
  }

 }

 @media screen and (max-width:685px){

nav{
  flex-direction: column;
}

nav ul{
  text-align: center;
  display: none;
}
nav ul li{
  display: block;
margin-bottom: 0.3rem;


}

nav a{
align-self: flex-start;
margin-top: .5rem;
margin-left: 0.5rem;

}

.menu{
  display: block;
position: absolute;
top: 2.5rem;
right: 3rem;
}

.showmenu{
  display: block;
}

.logo-tittle h1{
  margin-top: 4rem;
}
}


/* collections css */


